@{
    ViewBag.Title = "Administratoriaus pagrindinis puslapis";
    Layout = "Navbar";
}

<h1>@ViewBag.Title</h1>

<ul class="btn-group-vertical">
    <a class="btn btn-outline-primary" asp-controller="Place" asp-action="ShowPlaces">Valdyti vietoves</a>
    <a class="btn btn-outline-primary" asp-controller="Bus" asp-action="ShowBusesList">Valdyti autobusus</a>
    <a class="btn btn-outline-primary" asp-controller="Survey" asp-action="ShowSurveyList">Apklausos</a>
    <a class="btn btn-outline-primary" asp-controller="Route" asp-action="ShowRoutes">Valdyti maršrutus</a>
    <a class="btn btn-outline-primary" asp-controller="Trip" asp-action="ShowTrips">Valdyti keliones</a>
</ul>

