@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Administratoriaus pagrindinis puslapis</h2>

<ul>
    <a class="btn btn-outline-primary" asp-controller="Place" asp-action="PlacesList">Vietovės</a>
</ul>

