@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Administratoriaus pagrindinis puslapis</h2>

<ul class="btn-group-vertical">
    <a class="btn btn-outline-primary" asp-controller="Place" asp-action="ShowPlaces">Valdyti vietoves</a>
    <a class="btn btn-outline-primary" asp-controller="Ticket" asp-action="ShowPurchasedTicketsList">Nusipirkti bilietai</a>
    <a class="btn btn-outline-primary" asp-controller="Route" asp-action="ShowRoutePlanning">Maršruto planavimas</a>
    <a class="btn btn-outline-primary" asp-controller="Bus" asp-action="ShowBusesList">Valdyti autobusus</a>
</ul>

