@{
    ViewBag.Title = "Kliento pagrindinis puslapis";
    Layout = "_Layout";
}

<h1>@ViewBag.Title</h1>

<ul class="btn-group-vertical">
    <a class="btn btn-outline-primary" asp-controller="Survey" asp-action="ShowSurveyList">Pildyti apklausą dėl portalų</a>
    <a class="btn btn-outline-primary" asp-controller="Route" asp-action="ShowRoutesSearch">Ieškoti kelionės</a>
    <a class="btn btn-outline-primary" asp-controller="Ticket" asp-action="ShowPurchasedTicketsList">Nusipirkti bilietai</a>
    <a class="btn btn-outline-primary" asp-controller="Portal" asp-action="ShowPortalReservation">Portalo rezervacija</a>
</ul>