@{
    ViewBag.Title = "Meistro pagrindinis puslapis";
    Layout = "_Layout";
}

<h1>@ViewBag.Title</h1>

<ul class="btn-group-vertical">
    <a class="btn btn-outline-primary" asp-controller="Complaint" asp-action="ShowComplaints">Peržiūrėti skundus</a>
</ul>