@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Sveiki atvykę į <b>portalus ir ne tik</b></h1>
</div>

<ul class="btn-group-vertical">
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="AdminView">Administratoriaus puslapis</a>
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="ClientView">Kliento puslapis</a>
    <a class="btn btn-outline-primary" asp-controller="Home" asp-action="FixerView">Meistro puslapis</a>
</ul>